.mainContainer{
    width: 100%;
    height: calc(100% - 45px);
    display: flex;
    padding-top: 15px;
}

.mainContainer .left{
    width: calc(100% - 30%);
    overflow-y: scroll;
    transition: all 0.3s cubic-bezier(0.17, 0.81, 0.38, 1.39);
}

.mainContainer .left::-webkit-scrollbar{
    display: none;
}

.mainContainer .left .banner{
    height: 260px;
    border-radius: 0.5em;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
    position: relative;
}

.mainContainer .right{
    width: calc(100% - 70%);
}